# Revision

In [ ]:
dct = {'a':2, 'b':5, 'c':0}
print('| покупатель | кол-во |')
print('|------------|--------|')
for name, quan in dct.items():
    print('|{:^12}|{:^8d}|'.format(name,quan))

In [ ]:
dct = {'a':2, 'b':5, 'c':0}
print('| покупатель | кол-во |')
print('|------------|--------|')
for name, quan in dct.items():
    print(f'|{name:^12}|{quan:^8d}|')

In [ ]:
print()

In [ ]:
dct.items()

In [ ]:
dct['e']

In [ ]:
dct.get('e','jhzbvd')

In [ ]:
dct.setdefault('e',0)
dct

In [ ]:
dct.setdefault('a',0)
dct['a']

In [ ]:
lst = [1,2,3,4,1,2,2,2,2]
lst[6] = 7
lst

In [ ]:
lst.append(10)
lst

In [ ]:
set(lst)

In [ ]:
lst

In [ ]:
lst1 = ['a', 'b', 'c']

In [ ]:
print(' '.join(lst1))

In [ ]:
lst = [1, 2, 3, 4, 1, 2, 7, 2, 2, 10]

In [ ]:
print('   '.join(list(map(str,lst))))

In [ ]:
list(map(str,lst))

In [ ]:
str = 'фильмы, спорт, политика, юмор'
str.split(', ')

In [ ]:
list(map(lambda s: s.strip(),str.split(',')))

In [ ]:
def name():
    print('hello')
    return 'hello'

y = name()
print(y)

In [ ]:
def sum_(*args):
    return sum([item for item in args if item%2==0])

In [ ]:
sum_(*[1,2,3,4,5,6,7,7788,767])

In [ ]:
sum_(1,2,3,4,5,78,9)

In [ ]:
dbconfig = {'host': 'ich-db.edu.itcareerhub.de',
            'user': 'ich1',
            'password': 'password',
            'database': 'ich_edit'}

In [ ]:
'nnn' in dbconfig

In [ ]:
def get_password(**dbconfig):
    if 'password' in dbconfig:
        return dbconfig['password']
    else:
        return 'пароль не найден'

In [ ]:
get_password(**dbconfig)

In [ ]:
dct= {'a': 2, 'b': 5, 'c': 0, 'e': 0}

In [ ]:
get_password(**dct)

In [ ]:
get_password(a=2,d=7,password='nnn')

In [ ]:
import mysql.connector

dbconfig = {'host': 'ich-db.edu.itcareerhub.de',
            'user': 'ich1',
            'password': 'password',
            'database': 'ich_edit'}

connection = mysql.connector.connect(**dbconfig)
cursor = connection.cursor()

cursor.execute('SELECT * FROM users')

result = cursor.fetchall()

for row in result:
    print(row)
cursor.close()
connection.close()

В базе данных ich_edit три таблицы. Users с полями (id, name, age), Products с полями (pid, prod, quantity) и Sales с полями (sid, id, pid). Написать мини-интерфейс к базе данных, который умеет выполнять разные команды.
Выбрать таблицу для запроса. Предусмотреть возможность выбрать несколько таблиц. Вывести результат их соединения, если это возможно, или сообщение об ошибке.
Выбрать одно поле из выбранной таблицы и искомое значение этого поля. Вывести все подходящие строки

In [ ]:
import mysql.connector
from mysql.connector import Error

dbconfig = {'host': 'ich-db.edu.itcareerhub.de',
            'user': 'ich1',
            'password': 'password',
            'database': 'ich_edit'}

def execute_query(query):
    connection = mysql.connector.connect(**dbconfig)
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        result = cursor.fetchall()
    except Exception as e:
        print(f'Произошла ошибка: {e}')
    return result

# Функция для выбора таблиц и волнения соединения
def select_and_join_tables(tables):
    if len(tables) == 1:
        query = f'SELECT * FROM {tables[0]}'
    elif len(tables)==2:
        # tables = ['users','sales']
        join_condition = ' '.join([f'{tables[i]}.id = {tables[i+1]}.id' for i in range(len(tables)-1)]) # 'users.id = sales.id'
        query = f'SELECT * FROM {tables[0]} JOIN {tables[1]} ON {join_condition}'
        return execute_query(query)
        
def search_by_field(table, field, value):
    query = f'SELECT * FROM {table} WHERE {field} = "{value}"'
    return execute_query(query)

In [ ]:
tables = ['users','sales']
print(select_and_join_tables(tables))

In [ ]:
search_by_field('users', 'age', 40)

In [ ]:
select_and_join_tables(['users','sales'])

In [ ]:
execute_query('SELECT * FROM users')

### ДЗ 38

Доработать мини-интерфейс к базе данных, который был сделан на занятии. Новые возможности интерфейса:
1. Ввести список полей выбранной таблицы.
2. При вводе искомого значения добавить возможность выбора знака - найти записи, в которых выбранное поле больше, меньше или равно введенному значению

In [90]:
info_tables = {'users': ['id', 'name', 'age'], 'product': ['id', 'name', 'age'],'sales': ['sid', 'pid', 'id']}

In [91]:
table = input('Введите таблицу с которой необходимо раблотать:')
fields = input(f'Выберете поля из списка: {info_tables[table]}').split()

Введите таблицу с которой необходимо раблотать: users
Выберете поля из списка: ['id', 'name', 'age'] name age

In [92]:
fields = list(map(lambda s: s.strip(), fields))
fields

['name', 'age']

In [93]:
import mysql.connector

dbconfig = {'host': 'ich-db.edu.itcareerhub.de',
            'user': 'ich1',
            'password': 'password',
            'database': 'ich_edit'}

connection = mysql.connector.connect(**dbconfig)
cursor = connection.cursor()

In [94]:
def get_columns(connection, table):
    cursor = connection.cursor()
    cursor.execute(f"DESCRIBE {table};")
    columns = cursor.fetchall()
    return [column[0] for column in columns]

In [95]:
get_columns(connection, 'users')

['id', 'name', 'age']

In [98]:
columns = {'users':get_columns(connection, 'users'),'product':get_columns(connection, 'product'),'sales':get_columns(connection, 'sales')}

In [99]:
columns

{'users': ['id', 'name', 'age'],
 'product': ['pid', 'prod', 'quantity'],
 'sales': ['sid', 'pid', 'id']}

In [100]:
def get_tables(connection):
    cursor = connection.cursor()
    cursor.execute("SHOW TABLES;")
    tables = cursor.fetchall()
    return [table[0] for table in tables]

In [101]:
get_tables(connection)

['Andrii_Sevruk_logs',
 'Denis_logs',
 'Dima_logs',
 'Elizaveta_logs',
 'Julias_movie_searches',
 'Oleg_logs',
 'OlgaSh_search_logs',
 'Orkhan_logs',
 'Products',
 'Sales',
 'Users',
 'Vladimir_search_logs',
 'film',
 'films',
 'jobs',
 'log_search_1112',
 'log_search_Yuriy',
 'log_search_alex',
 'movies',
 'product',
 'regions',
 'sales',
 'saved_queries',
 'search_log',
 'search_logs',
 'search_logs_KM',
 'users']

In [ ]:
selected_tables = ['nnn']
if selected_tables not in set(selected_tables).issubset():
    print('Введенной таблицы не существует')

In [104]:
import mysql.connector
from mysql.connector import Error

# Установка соединения
def create_connection():
    '''
    Установка соединения
    Возвращаемое значение: соединение (connection)
    '''
    try:
        dbconfig = {'host': 'ich-db.edu.itcareerhub.de',
            'user': 'ich1',
            'password': 'password',
            'database': 'ich_edit'}
        connection = mysql.connector.connect(**dbconfig)
        if connection.is_connected():
            print("Соединение установлено")
            return connection
    except Error as e:
        print(f"Ошибка: {e}")
        return None

# Получить список всех доступных таблиц из БД
def get_tables(connection):
    cursor = connection.cursor()
    cursor.execute("SHOW TABLES")
    tables = cursor.fetchall()
    tables = [table[0] for table in tables]
    return tables

# Получить список всех доступных полей для вводимой table
def get_columns(connection, table):
    cursor = connection.cursor()
    cursor.execute(f"DESCRIBE {table}")
    columns = cursor.fetchall()
    columns = [column[0] for column in columns]
    return columns

# Выполнить запрос query
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"Ошибка: {e}")
        return None


def main():
    connection = create_connection()
    if connection is None:
        return

    while True:
        print("Доступные таблицы:", get_tables(connection))
        selected_tables = input("Введите названия таблиц, разделенные запятыми (или 'exit' для завершения): ").split(',')
        if 'exit' in selected_tables:
            break
            
        if selected_tables not in set(selected_tables).issubset():
            print('Введенной таблицы не существует')
        elif len(selected_tables) == 1:
            table = selected_tables[0].strip()
            columns = get_columns(connection, table)
            print(f"Столбцы в {table}: {columns}")
            column = input("Введите имя столбца для фильтрации: ").strip()
            value = input("Введите значение для фильтрации: ").strip()
            operator = input("Введите оператор (>, <, =): ").strip()

            query = f"SELECT * FROM {table} WHERE {column} {operator} '{value}'"
            result = execute_query(connection, query)
            if result:
                for row in result:
                    print(row)
            else:
                print("Результаты не найдены или произошла ошибка.")
        else:
            tables = [table.strip() for table in selected_tables]
            query = f"SELECT * FROM {tables[0]}"
            for table in tables[1:]:
                query += f" JOIN {table} ON {tables[0]}.id = {table}.id"
            result = execute_query(connection, query)
            if result:
                for row in result:
                    print(row)
            else:
                print("Результаты не найдены или произошла ошибка.")

    connection.close()

if __name__ == "__main__":
    main()

Соединение установлено
Доступные таблицы: ['Andrii_Sevruk_logs', 'Denis_logs', 'Dima_logs', 'Elizaveta_logs', 'Julias_movie_searches', 'Oleg_logs', 'OlgaSh_search_logs', 'Orkhan_logs', 'Products', 'Sales', 'Users', 'Vladimir_search_logs', 'film', 'films', 'jobs', 'log_search_1112', 'log_search_Yuriy', 'log_search_alex', 'movies', 'product', 'regions', 'sales', 'saved_queries', 'search_log', 'search_logs', 'search_logs_KM', 'users']

Введите названия таблиц, разделенные запятыми (или 'exit' для завершения):  ijdfv

TypeError: set.issubset() takes exactly one argument (0 given)

In [ ]:
from tabulate import tabulate

In [ ]:
print(tabulate([["spam", 41.9999], ["eggs", "451.0"]],["strings", "numbers"], "grid"))

In [ ]:
print(tabulate(execute_query(connection, query), [])