# Практика 14

1. Создать класс Car (машина) со следующими полями: model, year, color.

In [13]:
class Car():
    def __init__(self, model, year, color):
        self.model = model
        self.year = year
        self.color = color

2. Создать 10 объектов этого класса, описывающих модели разных марок, лет и цветов.

3. Создать список из этих объектов.

In [14]:
cars = [Car('Mercedes', 2020, 'red'), 
      Car('Audi', 2020, 'black'), 
      Car('Audi', 2020, 'blue'), 
      Car('BMW', 2022, 'red'), 
      Car('Audi', 2020, 'red'), 
      Car('Kia', 2020, 'red'), 
      Car('Audi', 2020, 'red'),
      Car('Audi', 2019, 'red'), 
      Car('Suzuki', 2020, 'red'), 
      Car('Suzuki', 2018, 'blue')]

4. Написать функцию, которая принимает список объектов класса Car и цвет и возвращает список машин этого цвета. Напечатать этот список, выводя название модели, год и цвет. Использовать filter и lambda функции.

In [15]:
def print_color_cars(lst_cars, color):
    for car in lst_cars:
        if car.color==color:
            print(car.model,  car.year)

print_color_cars(cars, "black")

Audi 2020

In [17]:
cars_black = filter( lambda car: car.color == 'black', cars)

In [18]:
for car in cars_black:
    print(car.model, car.year)

Audi 2020

In [20]:
def print_color_cars(lst_cars, color):
    cars_filter = filter( lambda car: car.color == color, lst_cars)
    for car in cars_filter:
        print(car.model,  car.year)

print_color_cars(cars, "red")

Mercedes 2020
BMW 2022
Audi 2020
Kia 2020
Audi 2020
Audi 2019
Suzuki 2020

5. Создать класс Person с полями имя и дата рождения.

In [21]:
class Person():
    def __init__(self,name,birthday):
        self.name = name
        self.birthday = birthday

    def print_person(self):
        print(f'{self.name}, родившийся {self.birthday}')

6. Создать 10 объектов этого класса с разными именами.

In [22]:
people = [
    Person("Alice", 1990),
    Person("Bob", 1985),
    Person("Charlie", 1992),
    Person("David", 1988),
    Person("Kate", 1995),
    Person("Frank", 1983),
    Person("Grace", 1991),
    Person("Anna", 1986),
    Person("Denis", 1993),
    Person("Jack", 1989)
]

In [28]:
import datetime
#from datetime import datetime

print(datetime.now().year)

2025

In [69]:
datetime.datetime.strptime('12.3.1990','%d.%m.%Y').year

1990

In [ ]:
datetime.'12.3.1990'

In [48]:
pers_18 = filter(lambda p: (datetime.now().year - p.birthday) >= 18  ,people)

In [46]:
for p in pers_18:
    p.print_person()

David, родившийся 1988
Kate, родившийся 1995
Frank, родившийся 1983
Grace, родившийся 1991
Anna, родившийся 1986
Denis, родившийся 1993
Jack, родившийся 1989

7. Создать класс Employee который содержит поле имя и возраст.

In [61]:
class Person():
    def __init__(self,name,birthday):
        self.name = name
        self.birthday = birthday

    def __str__(self):
        return f'{self.name}, родившийся {self.birthday}'

In [62]:
class Employee:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return f'{self.name}, возраст {self.age}'

8. Написать функцию, которая из списка объекта класса Person создает список из объектов класса Employee, вычисляя возраст каждого Person по дате рождения. Подумать, где должна быть реализована функция, вычисляющая возраст по дате рождения. Варианты: в конструкторе класса Employee, в качестве глобальной функции, в качестве метода класса (какого?). Получившийся список должен содержать сотрудников, старше 18 лет.  Использовать map и filter. У классов Person и Employee должны быть определены конструкторы. Реализация трансформации список персонов в сотрудников должна быть в одну строчку.

In [66]:
import datetime

class Person():
    def __init__(self,name,birthday):
        self.name = name
        self.birthday = birthday

    def __str__(self):
        return f'{self.name}, родившийся {self.birthday}'

class Employee:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return f'{self.name}, возраст {self.age}'

def calculate_age(year_birth): # глобальная функция !!!!
    now_year = datetime.datetime.now().year
    return now_year - year_birth


people = [
    Person("Alice", 1990),
    Person("Bob", 1985),
    Person("Charlie", 1992),
    Person("David", 1988),
    Person("Kate", 1995),
    Person("Frank", 1983),
    Person("Grace", 1991),
    Person("Anna", 1986),
    Person("Denis", 1993),
    Person("Jack", 1989)
]

def transform_persons_to_employees(people): # создавать список объектов классс Employee, которым больше 18
    return list(map(lambda p: Employee(p.name,calculate_age(p.birthday)),filter(lambda p: calculate_age(p.birthday) > 18,people)))

In [67]:
employees = transform_persons_to_employees(people)
for empl in employees:
    print(empl)

Alice, возраст 35
Bob, возраст 40
Charlie, возраст 33
David, возраст 37
Kate, возраст 30
Frank, возраст 42
Grace, возраст 34
Anna, возраст 39
Denis, возраст 32
Jack, возраст 36

In [75]:
people[0].birthday

1990

9. Вывести получившихся сотрудников на экран.

10. Используя функцию forAll() убедиться, что все сотрудники действительно старше 18 лет.

In [70]:
def forAll(employees, condition): # condotion - имя функции
    return all(condition(e)  for e in employees)

In [72]:
forAll(employees, lambda e: e.age > 18)

True