# Работа с базами данных

### Подключение к БД

In [2]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\dplog\anaconda3\lib\site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\dplog\anaconda3\lib\site-packages (24.0)
Collecting pip
  Downloading pip-25.0.1-py3-none-any.whl.metadata (3.7 kB)
Downloading pip-25.0.1-py3-none-any.whl (1.8 MB)
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
    --------------------------------------- 0.0/1.8 MB 220.2 kB/s eta 0:00:09
    --------------------------------------- 0.0/1.8 MB 219.4 kB/s eta 0:00:09
   - -------------------------------------- 0.1/1.8 MB 328.6 kB/s eta 0:00:06
   -- ------------------------------------- 0.1/1.8 MB 469.7 kB/s eta 0:00:04
   ---- ----------------------------------- 0.2/1.8 MB 655.9 kB/s eta 0:00:03
   ------ --------------------------------- 0.3/1.8 MB 811.7 kB/s eta 0:00:02
   --------- ------------------------------ 0.4/1.8 MB 1.1 MB/s eta 0:00:02
   ------------ --------------------------- 0.6/1.8 MB 1.3 MB/s eta 0:00:01
   ---------------------- ----------------- 1.1/1.8 MB 2.2 MB/s eta 0:00:01
   ------------------------ --------------- 1.1/1.8 MB 2.2 MB/s eta 0:00:01
   ---------------------------------------- 1.8/1.8 MB 3.3 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 24.0
    Uninstalling pip-24.0:
      Successfully uninstalled pip-24.0
Successfully installed pip-25.0.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import mysql.connector

# создаем словарь для описания конфигурации подключения к БД
dbconfig = {'host': 'ich-db.edu.itcareerhub.de',
            'user': 'ich1',
            'password': 'password',
            'database': 'ich_edit'}
# устанавливаем соединение
connection = mysql.connector.connect(**dbconfig) # connection = mysql.connector.connect(host='ich-db.edu.itcareerhub.de', user=ich1',)

In [4]:
connection.is_connected()

True

In [ ]:
# если БД локальная
import mysql.connector

# создаем словарь для описания конфигурации подключения к БД
dbconfig = {'host': '127.0.0.1',
            'user': 'root',
            'password': 'password',
            'database': 'movies'}
# устанавливаем соединение
connection = mysql.connector.connect(**dbconfig)

__хардкодить имя пользователя и пароль - очень плохое решение__

Можно легче ))

 ich1
 password

In [7]:
connection = mysql.connector.connect(host = 'ich-db.edu.itcareerhub.de', user = input(), password = input(), database = 'ich_edit')

 ich1
 password

In [8]:
connection.is_connected()

True

*Вариант 2* Создайте файл с именем, скажем, config.py и поместите его в каталог в вашем PYTHONPATH:

USER='zzzzzzzz'

PASS='xxxxxxxx'

HOST='yyyyyyyy'

MYDB='wwwwwwww'

In [11]:
import config

print(config.USER)

ich1

In [12]:
import config #config.py - это питон файл с кодом 

connection = mysql.connector.connect(
    host = config.HOST, user = config.USER,
    passwd = config.PASS, db = config.MYDB)

**вариант 3**

In [14]:
from getpass import getpass
from mysql.connector import connect, Error
mysql.connector.connect(
        host="ich-db.edu.itcareerhub.de",
        user=input("Введите имя пользователя: "),
        password=getpass("Введите пароль: "),
    )
print(f"""
Подключение установлено:
хост: {connection.server_host}
порт: {connection.server_port}
пользователь: {connection.user}""")

Введите имя пользователя:  ich1
Введите пароль:  ········

Подключение установлено:
хост: ich-db.edu.itcareerhub.de
порт: 3306
пользователь: ich1

In [ ]:
from getpass import getpass
from mysql.connector import connect, Error
try:
    with connect(
        host="localhost",
        user=input("Введите имя пользователя: "),
        password=getpass("Введите пароль: "),
    ) as connection:
        print(f"""
Подключение установлено:
хост: {connection.server_host}
порт: {connection.server_port}
пользователь: {connection.user}""")
except Error as e:
    print(f"Ошибка подключения к серверу:\n{e}")

### Курсор

Курсор (cursor) является объектом, с помощью которого выполняются операции с базой данных. Он представляет собой интерфейс для отправки запросов и получения результатов. Курсор создается из соединения (connection) с помощью метода cursor():

In [15]:
cursor = connection.cursor()

**Замечание.** По завершению работы с БД курсор и соединение нужно закрывать, чтобы избежать непредвиденных ошибок и снижения производительности :

In [ ]:
cursor.close()
connection.close()

### Execute

Метод execute используется для выполнения команд SQL. Он принимает строку с SQL-запросом в качестве аргумента. Пример использования:

In [16]:
cursor.execute("SELECT * FROM users")

### Извлечение данных

При работе с базой данных может потребоваться извлечение данных из результата запроса. Для этого можно использовать методы fetchone, fetchall или fetchmany. Например:

In [17]:
result = cursor.fetchall()

for row in result:
    print(row)

(6, 'Andrey', 44)
(7, 'John', 25)
(10, 'Petr', 55)
(11, 'Jack', 25)
(12, 'Alice', 30)
(13, 'Bob', 35)
(14, 'Alex', 25)
(15, 'Frank', 25)
(78, 'Alex', 50)
(83, 'John', 25)
(84, 'John', 25)
(85, 'Alice', 30)
(86, 'Bob', 35)
(95, 'John', 25)
(96, 'John', 25)
(97, 'Alice', 30)
(98, 'Bob', 35)
(99, 'John', 25)
(102, 'John', 25)
(105, 'John', 25)
(106, 'Elena', 31)
(107, 'John', 67)
(108, 'John', 25)
(109, 'Elena', 31)
(114, 'Max', 35)
(115, 'Anna', 40)
(117, 'Max', 31)
(118, 'Anna', 40)
(119, 'Jenna', 28)
(120, 'Anett', 42)
(122, 'Sarah', 41)
(123, 'Noah', 25)
(124, 'Ariel', 30)
(125, 'Solomon', 28)
(126, 'Ivan', 26)
(127, 'Ali', 30)
(128, 'Bosi', 35)
(129, 'Hanna', 31)
(130, 'Lusya', 18)
(131, 'Ira', 58)
(134, 'Ruslan', 25)
(135, 'Alex', 31)
(136, 'Noah', 30)
(137, 'Ariel', 35)
(138, 'Olga', 25)
(139, 'Mikhail', 29)
(140, 'Ruslan2', 41)
(141, 'Mihail', 88)
(142, 'Svetlana', 24)
(143, 'Katerina', 30)
(144, 'Mashka', 99)
(145, 'John', 25)
(150, 'Vova', 41)
(151, 'Petia', 25)
(152, 'Misha', 30)
(153, 'Dima', 28)
(154, 'Svetlana', 24)
(159, 'John', 25)
(160, 'Alice', 30)
(161, 'Bob', 35)
(162, 'John', 25)
(163, 'Alice', 30)
(164, 'Bob', 35)
(165, 'John', 25)
(166, 'Alice', 30)
(167, 'Bob', 35)
(168, 'John', 25)
(169, 'Alice', 30)
(170, 'Bob', 35)
(171, 'John', 25)
(172, 'Alice', 30)
(173, 'Bob', 35)
(174, 'John', 25)
(175, 'Alice', 25)
(176, 'Alice', 26)
(179, 'Johny', 20)
(180, 'John', 25)
(181, 'Alice', 30)
(182, 'Bob', 35)
(183, 'John', 25)
(184, 'Alice', 30)
(185, 'Bob', 35)
(186, 'John', 25)
(187, 'Alice', 30)
(188, 'Bobby', 35)
(189, 'John', 25)
(190, 'Alice', 30)
(191, 'Bobby', 35)
(192, 'John', 25)
(193, 'Alice', 30)
(194, 'Bobby', 35)
(195, 'John', 25)
(196, 'Alice', 30)
(197, 'Bobby', 35)
(201, 'Pavel', 11)
(202, 'Valera', 54)
(203, 'Olena', 38)
(204, 'Juri', 41)
(205, 'Ippolit', 98)
(206, 'JurijB', 31)
(208, 'Max', 25)
(209, 'Anton', 30)
(210, 'Denis', 35)
(211, 'Alina', 18)
(212, 'Alena', 19)
(213, 'Albina', 18)
(214, 'Akakiy', 100)
(215, 'Fedor', 55)
(216, 'Bobbob', 35)
(217, 'Афанасий', 34)
(218, 'Феофан', 54)
(220, 'Winter', 50)
(221, 'Sommer', 32)
(222, 'Autumn', 55)
(223, 'Lena', 25)
(224, 'Anna', 30)
(225, 'Max', 35)
(226, 'John', 25)
(227, 'John', 25)
(228, 'Alice', 30)
(229, 'Alice', 30)
(230, 'John', 25)
(231, 'Alice', 30)
(232, 'Bob', 35)
(233, 'John', 25)
(234, 'Alice', 30)
(235, 'Bob', 35)
(236, 'Alice', 30)
(237, 'Alice', 30)
(241, 'Slyus', 25)
(242, 'Slyus', 25)
(243, 'Slyus', 45)
(259, 'AGA', 35)
(260, 'John', 25)
(261, 'Alice', 30)
(262, 'Bob', 35)
(263, 'MAX', 25)
(264, 'ANTON', 30)
(265, 'BIBB', 35)
(266, 'AISHA', 18)
(272, 'John', 25)
(273, 'Alice', 30)
(274, 'Bob', 35)
(275, 'John', 25)
(276, 'John', 25)
(279, 'John', 25)
(280, 'Alice', 30)
(281, 'Bob', 35)
(282, 'John', 25)
(283, 'Alice', 30)
(284, 'Bob', 35)
(285, 'John', 25)
(286, 'John', 25)
(290, 'John', 25)
(291, 'Alice', 30)
(292, 'Bob', 35)
(293, 'John', 25)
(294, 'Alice', 30)
(295, 'Bob', 35)
(303, 'John', 25)
(304, 'Alice', 30)
(305, 'Bob', 35)
(307, 'John', 25)
(311, 'John', 25)
(312, 'Alice', 30)
(313, 'Bob', 35)
(314, 'Alice', 30)
(315, 'Bob', 25)
(316, 'Alice', 30)
(317, 'Bob', 25)
(854, 'John', 25)
(855, 'John', 25)
(856, 'Alice', 30)
(857, 'Bob', 35)
(858, 'John', 25)
(859, 'John', 25)
(860, 'Alice', 30)
(861, 'Bob', 35)
(865, 'Baiden', 82)
(866, 'Trump', 30)
(867, 'Bob', 35)
(871, 'Baiden', 82)
(872, 'Trump', 70)
(873, 'Bob Marley', 35)
(874, 'John', 25)
(875, 'John', 25)
(876, 'Alice', 30)
(877, 'Bob', 35)
(878, 'Baiden', 82)
(879, 'Trump', 30)
(880, 'Bob Marley', 35)
(881, 'John', 25)
(882, 'John', 25)
(883, 'Alice', 30)
(884, 'Bob', 35)
(885, 'John', 25)
(886, 'John', 25)
(887, 'Alice', 30)
(888, 'Bob', 35)
(889, 'John', 25)
(890, 'John', 25)
(891, 'Alice', 30)
(892, 'Bob', 35)
(893, 'John', 25)
(894, 'John', 25)
(895, 'Alice', 30)
(896, 'Bob', 35)
(897, 'John', 25)
(898, 'John', 25)
(904, 'John', 40)
(905, 'John', 30)
(906, 'John', 50)
(907, 'John', 60)
(908, 'John', 60)
(911, 'John', 80)
(912, 'John', 100)
(956, 'John', 25)
(957, 'Alice', 30)
(958, 'Bob', 35)
(959, 'John', 25)
(960, 'Alice', 30)
(961, 'Bob', 35)
(962, 'John', 25)
(963, 'Alice', 30)
(964, 'Bob', 35)
(968, 'John', 25)
(969, 'Alice', 30)
(970, 'Bob', 35)
(971, 'John', 25)
(972, 'John', 25)
(973, 'Alice', 30)
(974, 'Bob', 35)
(975, 'John', 25)
(976, 'John', 25)
(977, 'Alice', 30)
(978, 'Bob', 35)
(979, 'John', 25)
(980, 'John', 25)
(985, 'John', 25)
(986, 'John', 25)
(987, 'Amy', 30)
(991, 'Fernando', 17)
(992, 'Lucie', 20)
(1004, 'Franklin', 45)
(1005, 'John', 25)
(1006, 'Alice', 30)
(1007, 'Bob', 35)
(1008, 'Franklin', 45)
(1009, 'Esel', 15)
(1010, 'Shrek', 40)
(1011, 'Fiona', 28)
(1012, 'Franklin', 45)
(1013, 'Esel', 15)
(1014, 'Shrek', 40)
(1015, 'Fiona', 28)
(1016, 'Franklin', 45)
(1017, 'Esel', 15)
(1018, 'Shrek', 40)
(1019, 'Fiona', 28)
(1020, 'Franklin', 45)
(1021, 'Esel', 15)
(1022, 'Shrek', 40)
(1023, 'Fiona', 28)
(1030, 'John', 25)
(1038, 'John', 25)
(1039, 'John', 25)
(1040, 'Alice', 30)
(1041, 'Bob', 35)
(1044, 'John', 25)
(1060, 'John', 25)
(1061, 'John', 25)
(1062, 'John', 25)
(1069, 'John', 25)
(1081, 'John', 25)
(1082, 'John', 25)
(1083, 'John', 25)
(1084, 'John', 25)
(1085, 'Alice', 30)
(1086, 'Bob', 35)
(1087, 'John', 25)
(1088, 'Alice', 30)
(1089, 'Bob', 35)
(1090, 'John', 25)
(1091, 'John', 25)
(1092, 'John', 25)
(1093, 'John', 25)
(1094, 'Alice', 30)
(1095, 'Bob', 35)
(1096, 'John', 25)
(1097, 'Alice', 30)
(1098, 'Bob', 35)
(1099, 'John', 25)
(1100, 'Alice', 30)
(1101, 'Bob', 35)
(1102, 'John', 25)
(1103, 'John', 25)
(1105, 'Alex', 34)
(1106, 'Alex', 34)
(1107, 'Bob', 18)
(1126, 'John', 25)
(1127, 'Alice', 30)
(1128, 'Bob', 35)
(1130, 'John', 25)
(1131, 'Alice', 30)
(1132, 'Bob', 35)
(1134, 'John', 25)
(1135, 'Alice', 30)
(1136, 'Bob', 35)
(1138, 'John', 25)
(1139, 'Alice', 30)
(1140, 'Bob', 35)
(1142, 'John', 25)
(1143, 'Alice', 30)
(1144, 'Bob', 35)
(1146, 'John', 25)
(1147, 'Alice', 30)
(1148, 'Bob', 35)
(1150, 'John', 25)
(1151, 'Alice', 30)
(1152, 'Bob', 35)
(1155, 'John', 25)
(1156, 'Alice', 30)
(1157, 'Bob', 35)
(1159, 'John', 25)
(1160, 'Alice', 30)
(1161, 'Bob', 35)
(1163, 'John', 25)
(1164, 'Alice', 30)
(1165, 'Bob', 35)
(1167, 'John', 25)
(1168, 'Alice', 30)
(1169, 'Bob', 35)
(1171, 'John', 25)
(1172, 'Alice', 30)
(1173, 'Bob', 35)
(1206, 'John', 25)
(1207, 'Alice', 30)
(1208, 'Bob', 35)
(1210, 'John', 25)
(1211, 'Alice', 30)
(1212, 'Bob', 35)
(1217, 'Ганна', 94)
(1240, 'вова', 10)
(1241, 'вова', 16)
(1242, 'вова', 16)
(1243, 'John', 25)
(1244, 'Alice', 30)
(1245, 'Bob', 35)
(1246, 'John', 25)
(1247, 'Alice', 30)
(1248, 'Bob', 35)
(1250, 'вова', 16)
(1251, 'John', 25)
(1252, 'John', 25)
(1253, 'Alice', 30)
(1254, 'Bob', 35)
(1255, 'вова', 16)
(1257, 'вова', 16)
(1258, 'John', 75)
(1259, 'вова', 16)
(1260, 'Вова', 16)
(1261, 'Вова', 17)
(1262, 'John', 75)
(1263, '3', 75)
(1265, '3', 16)
(1266, 'Ivan', 25)
(1267, 'Ivan', 25)
(1269, 'Ivan', 25)
(1270, 'Tom', 78)
(1272, 'AAU', 25)
(1273, 'AAU', 25)
(1274, 'Вова', 12)
(1275, 'AAU', 25)
(1276, 'Dima', 16)
(1277, 'Dima', 16)
(1278, 'Karl', 16)
(1279, 'Dima', 16)
(1280, 'Dima', 16)
(1281, 'Dima', 16)
(1282, 'Вова', 12)
(1283, 'Вова', 12)
(1285, 'Vova', 16)
(1286, 'Vova', 16)
(1287, 'Tom', 78)
(1288, 'John', 25)
(1289, 'Alice', 30)
(1290, 'Bob', 35)
(1295, 'John', 25)
(1296, 'John', 25)
(1297, 'Alice', 30)
(1298, 'Bob', 35)
(1307, 'John-2400', 25)
(1308, 'John-2500', 25)
(1309, 'Alice-2600', 30)
(1310, 'Bob-2700', 35)
(1311, 'John', 25)
(1312, 'Alice', 30)
(1313, 'Bob', 35)
(1314, 'John-24', 25)
(1315, 'John-25', 25)
(1316, 'Alice-26', 30)
(1317, 'Bob-27', 35)
(1318, 'John-24', 25)
(1319, 'John-25', 25)
(1320, 'Alice-26', 30)
(1321, 'Bob-27', 35)
(1322, 'John-24', 25)
(1323, 'John-25', 25)
(1324, 'Alice-26', 30)
(1325, 'Bob-27', 35)
(1328, 'Johnnnn', 25)
(1329, 'John', 25)
(1330, 'John', 25)
(1331, 'John-24', 25)
(1332, 'John-25', 25)
(1333, 'Alice-26', 30)
(1334, 'Bob-27', 35)
(1335, 'John-24', 25)
(1336, 'John-25', 25)
(1337, 'Alice-26', 30)
(1338, 'Bob-27', 35)
(1342, 'Alice', 30)
(1345, 'USER 4', 48)
(1346, 'USER 4', 48)
(1347, 'USER 4', 48)
(1348, 'USER 5', 48)
(1349, 'Anatoli', 48)
(1350, 'USER 4', 48)
(1353, 'USER 21', 21)
(1354, 'USER 4', 48)
(1355, 'USER 4', 48)
(1356, 'USER 4', 48)
(1357, 'USER 4', 48)
(1358, 'USER 4', 48)
(1359, 'USER 4', 48)
(1360, 'USER 4', 48)
(1361, 'USER 4', 48)
(1362, 'USER 4', 48)
(1363, 'USER 4', 48)
(1364, 'USER 4', 48)
(1365, 'USER 4', 48)
(1366, 'USER 4', 48)
(1367, 'USER 4', 48)
(1368, 'USER 4', 48)
(1369, 'USER 4', 48)
(1370, 'USER 4', 48)
(1371, 'USER 4', 48)
(1372, 'USER 4', 48)
(1373, 'USER 4', 48)
(1374, 'USER 4', 48)
(1375, 'USER 4', 48)
(1376, 'USER 4', 48)
(1377, 'USER 4', 48)
(1378, 'USER 4', 48)
(1379, 'USER 4', 48)
(1380, 'USER 4', 48)
(1381, 'USER 4', 48)
(1382, 'USER 4', 48)
(1383, 'USER 4', 48)
(1384, 'USER 4', 48)
(1385, 'USER 4', 48)
(1386, 'USER 4', 48)
(1387, 'USER 4', 48)
(1388, 'USER 4', 48)
(1389, 'USER 4', 48)
(1390, 'USER 4', 48)
(1391, 'USER 4', 48)
(1392, 'USER 4', 48)
(1393, 'USER 4', 48)
(1394, 'USER 4', 48)
(1395, 'USER 4', 48)
(1396, 'USER 4', 48)
(1397, 'USER 4', 48)
(1398, 'USER 4', 48)
(1399, 'USER 4', 48)
(1400, 'USER 4', 48)
(1401, 'USER 4', 48)
(1402, 'USER 4', 48)
(1403, 'USER 4', 48)
(1404, 'USER 4', 48)
(1405, 'USER 4', 48)
(1406, 'USER 4', 48)
(1407, 'USER 4', 48)
(1408, 'USER 4', 48)
(1409, 'USER 4', 48)
(1410, 'USER 4', 48)
(1411, 'USER 4', 48)
(1412, 'USER 4', 48)
(1413, 'USER 4', 48)
(1414, 'USER 4', 48)
(1415, 'USER 4', 48)
(1416, 'USER 4', 48)
(1417, 'USER 4', 48)
(1418, 'USER 4', 48)
(1419, 'USER 4', 48)
(1420, 'USER 4', 48)
(1421, 'USER 4', 48)
(1422, 'USER 4', 48)
(1423, 'USER 4', 48)
(1424, 'USER 4', 48)
(1425, 'USER 4', 48)
(1426, 'USER 4', 48)
(1427, 'USER 4', 48)
(1428, 'USER 4', 48)
(1429, 'USER 4', 48)
(1430, 'USER 4', 48)
(1431, 'USER 4', 48)
(1432, 'USER 4', 48)
(1433, 'USER 4', 48)
(1434, 'USER 4', 48)
(1435, 'USER 4', 48)
(1436, 'USER 4', 48)
(1437, 'USER 4', 48)
(1438, 'USER 4', 48)
(1439, 'USER 4', 48)
(1440, 'USER 4', 48)
(1441, 'USER 4', 48)
(1442, 'USER 4', 48)
(1443, 'USER 4', 48)
(1444, 'USER 4', 48)
(1445, 'USER 4', 48)
(1446, 'USER 4', 48)
(1447, 'USER 4', 48)
(1448, 'USER 4', 48)
(1449, 'USER 4', 48)
(1450, 'USER 4', 48)
(1451, 'USER 4', 48)
(1452, 'USER 4', 48)
(1453, 'USER 4', 48)
(1454, 'USER 4', 48)
(1455, 'USER 4', 48)
(1456, 'USER 4', 48)
(1457, 'USER 4', 48)
(1458, 'USER 4', 48)
(1459, 'USER 4', 48)
(1460, 'USER 4', 48)
(1461, 'USER 4', 48)
(1462, 'USER 4', 48)
(1463, 'USER 4', 48)
(1464, 'USER 4', 48)
(1465, 'USER 4', 48)
(1466, 'USER 4', 48)
(1467, 'USER 4', 48)
(1468, 'USER 4', 48)
(1469, 'USER 4', 48)
(1470, 'USER 4', 48)
(1471, 'USER 4', 48)
(1472, 'USER 4', 48)
(1473, 'USER 4', 48)
(1474, 'USER 4', 48)
(1475, 'USER 4', 48)
(1476, 'USER 4', 48)
(1477, 'USER 4', 48)
(1478, 'USER 4', 48)
(1479, 'USER 4', 48)
(1480, 'USER 4', 48)
(1481, 'USER 4', 48)
(1482, 'USER 4', 48)
(1483, 'USER 4', 48)
(1484, 'USER 4', 48)
(1485, 'USER 4', 48)
(1486, 'USER 4', 48)
(1487, 'USER 4', 48)
(1488, 'USER 4', 48)
(1489, 'USER 4', 48)
(1490, 'USER 4', 48)
(1491, 'USER 4', 48)
(1492, 'USER 4', 48)
(1493, 'USER 4', 48)
(1494, 'USER 4', 48)
(1495, 'USER 4', 48)
(1496, 'USER 4', 48)
(1497, 'USER 4', 48)
(1498, 'USER 4', 48)
(1499, 'USER 4', 48)
(1500, 'USER 4', 48)
(1501, 'USER 4', 48)
(1502, 'USER 4', 48)
(1503, 'USER 4', 48)
(1504, 'USER 4', 48)
(1505, 'USER 4', 48)
(1506, 'USER 4', 48)
(1507, 'USER 4', 48)
(1508, 'USER 4', 48)
(1509, 'USER 4', 48)
(1510, 'USER 4', 48)
(1511, 'USER 4', 48)
(1512, 'USER 4', 48)
(1513, 'USER 4', 48)
(1514, 'USER 4', 48)
(1515, 'USER 4', 48)
(1516, 'USER 4', 48)
(1517, 'USER 4', 48)
(1518, 'USER 4', 48)
(1519, 'USER 4', 48)
(1520, 'USER 4', 48)
(1521, 'USER 4', 48)
(1522, 'USER 4', 48)
(1523, 'USER 4', 48)
(1524, 'USER 4', 48)
(1525, 'USER 4', 48)
(1526, 'USER 4', 48)
(1527, 'USER 4', 48)
(1528, 'USER 4', 48)
(1529, 'USER 4', 48)
(1530, 'USER 4', 48)
(1531, 'USER 4', 48)
(1532, 'USER 4', 48)
(1533, 'USER 4', 48)
(1534, 'USER 4', 48)
(1535, 'USER 4', 48)
(1536, 'USER 4', 48)
(1537, 'USER 4', 48)
(1538, 'USER 4', 48)
(1539, 'USER 4', 48)
(1540, 'USER 4', 48)
(1541, 'USER 4', 48)
(1542, 'USER 4', 48)
(1543, 'USER 4', 48)
(1544, 'USER 4', 48)
(1545, 'USER 4', 48)
(1546, 'USER 4', 48)
(1547, 'USER 4', 48)
(1548, 'USER 4', 48)
(1549, 'USER 4', 48)
(1550, 'USER 4', 48)
(1551, 'USER 4', 48)
(1552, 'USER 4', 48)
(1553, 'USER 4', 48)
(1554, 'USER 4', 48)
(1555, 'USER 4', 48)
(1556, 'USER 4', 48)
(1557, 'USER 4', 48)
(1558, 'USER 4', 48)
(1559, 'USER 4', 48)
(1560, 'USER 4', 48)
(1561, 'USER 4', 48)
(1562, 'USER 4', 48)
(1563, 'USER 4', 48)
(1564, 'USER 4', 48)
(1565, 'USER 4', 48)
(1566, 'USER 4', 48)
(1567, 'USER 4', 48)
(1568, 'USER 4', 48)
(1573, 'USER 6', 50)
(1575, 'USER 4', 48)
(1576, 'USER 4', 48)
(1577, 'USER 4', 48)
(1578, 'USER 4', 48)
(1579, 'USER 4', 48)
(1580, 'USER 4', 48)
(1581, 'USER 4', 48)
(1582, 'USER 4', 48)
(1583, 'USER 4', 48)
(1584, 'USER 4', 48)
(1585, 'USER 4', 48)
(1586, 'USER 4', 48)
(1587, 'USER 4', 48)
(1588, 'USER 4', 48)
(1589, 'USER 4', 48)
(1590, 'USER 4', 48)
(1591, 'USER 4', 48)
(1592, 'USER 4', 48)
(1593, 'USER 4', 48)
(1594, 'USER 4', 48)
(1595, 'USER 4', 48)
(1596, 'USER 4', 48)
(1597, 'USER 4', 48)
(1598, 'USER 4', 48)
(1599, 'USER 4', 48)
(1600, 'USER 4', 48)
(1601, 'USER 4', 48)
(1602, 'USER 4', 48)
(1603, 'USER 4', 48)
(1604, 'USER 4', 48)
(1605, 'USER 4', 48)
(1606, 'USER 4', 48)
(1607, 'USER 4', 48)
(1608, 'USER 4', 48)
(1609, 'USER 4', 48)
(1610, 'USER 4', 48)
(1611, 'USER 4', 48)
(1612, 'USER 4', 48)
(1613, 'USER 4', 48)
(1614, 'USER 4', 48)
(1615, 'John', 25)
(1616, 'John', 25)
(1617, 'Alice', 30)
(1618, 'Bob', 35)
(1619, 'John', 25)

В Python, метод fetchall() используется для извлечения всех строк из результата запроса и сохранения их в памяти. Это удобно, когда результат содержит небольшое количество данных. Однако, если результат запроса очень большой, использование fetchall() может привести к значительному использованию памяти.

В таких случаях можно использовать fetchone() или fetchmany(size):

fetchone() извлекает следующую строку результата запроса.
fetchmany(size) извлекает следующий набор строк результата запроса в соответствии с указанным размером.
Использование fetchone() или fetchmany(size) помогает контролировать объем используемой памяти, так как данные извлекаются порционно. Важно учитывать объем доступной памяти и размер данных при выборе метода извлечения данных.

 Метод execute может также принимать параметры, которые могут быть переданы в SQL-запрос с использованием специального синтаксиса. Например:

In [ ]:
name = "John"
age = 25
cursor.execute("INSERT INTO users (name, age) VALUES (%s, %s)", (name, age))
#cursor.execute(f"INSERT INTO users (name, age) VALUES ('{name}', {age})")

Когда вы используете f-строки для формирования SQL-запросов, вам нужно убедиться, что строковые значения заключены в кавычки. Однако, использование f-строк для формирования SQL-запросов небезопасно и может привести к SQL-инъекциям. Вместо этого рекомендуется использовать параметризованные запросы.

 Метод executemany позволяет выполнить несколько операций с разными значениями параметров. Он принимает два аргумента: строку с SQL-запросом и последовательность кортежей или списков, содержащих значения параметров. Пример:

In [ ]:
data = [("John", 25), ("Alice", 30), ("Bob", 35)]
cursor.executemany("INSERT INTO users (name, age) VALUES (%s, %s)", data)

В данном примере будет выполнено несколько операций INSERT для добавления пользователей в таблицу users.

### Commit

Метод commit применяется после выполнения операций, которые изменяют данные в базе данных, чтобы сохранить изменения. Он вызывается на объекте соединения (connection). Пример:

In [ ]:
connection.commit()

 В библиотеке mysql.connector есть возможность использовать параметры с именованными заполнителями в SQL-запросах. Вместо плейсхолдеров %s можно использовать имена, которые будут заменены соответствующими значениями при выполнении запроса.

In [ ]:
data = {"name": "John", "age": 25}
cursor.execute("INSERT INTO users (name, age) VALUES (%(name)s, %(age)s)", data)

### Транзакция

Работа с базой данных может быть выполнена в рамках транзакции.

Транзакция представляет собой логическую группу операций, которые должны быть выполнены все или ни одна. Для выполнения транзакций можно использовать методы commit и rollback. Если все операции в транзакции прошли успешно, вызов commit фиксирует изменения. В случае возникновения ошибки или отката транзакции вызывается метод rollback, который отменяет все выполненные операции.

In [ ]:
print(connection.is_connected())

это блок, который можно использовать для обработки ошибок, связанных с базой данных. В случае возникновения исключения, можно обработать ошибку

In [ ]:
try:
    connection = mysql.connector.connect(**dbconfig)
    cursor = connection.cursor()

    # Выполнение операций в рамках транзакции

    connection.commit()
except:
    connection.rollback()
finally:
    cursor.close()
    connection.close()

1. connection = mysql.connector.connect(**dbconfig)
Эта команда устанавливает соединение с базой данных. dbconfig - это словарь с параметрами подключения, такими как имя пользователя, пароль, хост и т.д.
2. cursor = connection.cursor():
Создает объект курсора, который используется для выполнения запросов и получения результатов.
3. connection.commit()
Применяет все изменения, сделанные в рамках текущей транзакции. Это гарантирует, что все операции будут сохранены в базе данных.
4. except: connection.rollback()
Если во время выполнения транзакции происходит исключение, вызывается rollback(), который отменяет все операции транзакции.
5. finally: cursor.close()
Закрывает объект курсора после завершения работы с ним. Это освобождает ресурсы системы.
6. connection.close()
Закрывает соединение с базой данных. Это важно для освобождения ресурсов подключения к базе данных.
Этот код обеспечивает безопасное выполнение операций с базой данных, обрабатывая исключения и корректно закрывая соединения.

Для обработки ошибок, связанных с базой данных, также можно использовать блок try-except. В случае возникновения исключения, можно обработать ошибку.

In [ ]:
try:
    cursor.execute("INSERT INTO users (name, age) VALUES (%s, %s)", ("John", 25))
    connection.commit()
except mysql.connector.Error as e:
    print("Ошибка базы данных:", e)
    connection.rollback()

### Разделение логики при работе с БД (многомодульность)

При работе с большими объемами данных или сложными запросами может потребоваться разделение логики работы с базой данных на несколько функций или классов. Это позволяет улучшить читаемость и обеспечить модульность кода.

In [ ]:
def insert_user(cursor, name, age):
    cursor.execute("INSERT INTO users (name, age) VALUES (%s, %s)", (name, age))

def get_users(cursor):
    cursor.execute("SELECT * FROM users")
    return cursor.fetchall()

In [ ]:
result = get_users(cursor)
for item in result:
    print(item)

### ПРАКТИКА. Написание интерфейса к базе данных

Написать программу, которая запрашивает у пользователя возраст и выводит все строки таблицы users, где возраст больше указанного.

1. Подключение к БД
2. Создаем курсор
3. Запрашиваем данные
4. execute
5. Вывод данных из БД
6. Закрытие курсора и конектора

In [ ]:
import mysql.connector

# Подключение к базе данных
dbconfig = {'host': 'ich-db.edu.itcareerhub.de',
            'user': 'ich1',
            'password': 'password',
            'database': 'ich_edit'}

connection = mysql.connector.connect(**dbconfig)
cursor = connection.cursor()

# Запрос возраста у пользователя
age = input("Введите возраст: ")

# Выполнение запроса к базе данных
query = f"SELECT * FROM users WHERE age > {age}"
cursor.execute(f"SELECT * FROM users WHERE age > {age}")
#cursor.execute("SELECT * FROM users WHERE age > %s",(age,))
#cursor.execute("SELECT * FROM users WHERE age > %s"%(age,))
# cursor.execute(query)
# Вывод результатов
for row in cursor:
    print(row)

# Закрытие соединений
cursor.close()
connection.close()

В базе данных ich_edit три таблицы. Users с полями (id, name, age), Products с полями (pid, prod, quantity) и Sales с полями (sid, id, pid).
Программа должна вывести все покупки каждого пользователя.

In [ ]:
import mysql.connector

dbconfig = {'host': 'ich-db.edu.itcareerhub.de',
            'user': 'ich1',
            'password': 'password',
            'database': 'ich_edit'}

connection = mysql.connector.connect(**dbconfig)

cursor = connection.cursor()

# Запрос для получения всех покупок каждого пользователя
query = """
SELECT users.name, product.prod, product.quantity
FROM users
JOIN sales ON users.id = sales.id
JOIN product ON product.pid = sales.pid
"""

cursor.execute(query)

# Вывод результатов
for (name, prod, quantity) in cursor:
    print(f"Пользователь {name} купил {prod}, количество: {quantity}")

# Закрытие соединений
cursor.close()
connection.close()

### Инструкция по установке локальной БД

Базу данных movies оригинальную можно скачать отсюда https://github.com/it-career-hub/MySQL_databases/blob/main/imdb.movies.sql


!!! Не забывайте обновить дерево на панели Schemas нажав кнопку вверху справа с стрелочками, чтобы увидеть новую базу в Workbench

GitHub

MySQL_databases/imdb.movies.sql at main · it-career-hub/MySQL_databases
Contribute to it-career-hub/MySQL_databases development by creating an account on GitHub.

imdb.movies.sql

<https://github.com/it-career-hub/MySQL_databases|it-career-hub/MySQL_databases>it-career-hub/MySQL_databases | Added by GitHub

### Вопросы для закрепления
1. Как подключиться к базе данных из питона? Как понять, какой модуль использовать?
2. Какими методами можно выполнять запросы и получать данные, которые могут быть возвращены в результате запроса?
3. Как лучше всего обрабатывать ошибки, которые могут возникать?

https://habr.com/ru/articles/435652/ Статья "Как не продолбать пароли в Python скриптах"