# Summary 10

### Хеш

Пример написания хэш функции

In [58]:
def simple_hash(s):
    hash_value = 0  # Инициализируем хэш-значение
    for char in s:
        # Добавляем ASCII-код каждого символа к хэш-значению
        hash_value += ord(char)
    return hash_value

In [60]:
input_string = "llohe"
hash_result = simple_hash(input_string)
print(f"Хэш строки '{input_string}': {hash_result}")

Хэш строки 'llohe': 532

Недостатки этой хэш-функции

* Коллизии: Разные строки могут иметь одинаковый хэш (например, "hello" и "olleh" дадут одинаковый хэш).

* Простота: Эта функция не подходит для криптографических целей, так как она слишком проста и предсказуема.

* Ограниченность: Работает только со строками.

### Множества

In [62]:
# пустое множество
empty = set()
empty

set()

Операции:
* объединение
* пересечение
* разность
* симметрическая разность

In [64]:
A = {1,2,3,4}
B = {3,4,5,6,7}

In [65]:
A | B

{1, 2, 3, 4, 5, 6, 7}

In [66]:
A & B

{3, 4}

In [67]:
A - B

{1, 2}

In [68]:
B - A

{5, 6, 7}

In [69]:
A ^ B

{1, 2, 5, 6, 7}

#### Операции на базе методов

In [70]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7}

In [71]:
A.intersection(B)

{3, 4}

In [72]:
A.difference(B)

{1, 2}

In [73]:
A.symmetric_difference(B)

{1, 2, 5, 6, 7}

### Методы

In [74]:
A

{1, 2, 3, 4}

In [76]:
A.add(5)
print(A)

{1, 2, 3, 4, 5}

In [77]:
A.clear()
print(A)

set()

In [81]:
A = {1,2,3,4}
C = A
C.add(5)
print(C)
print(A)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [80]:
A = {1,2,3,4}
C = A.copy()
C.add(5)
print(C)
print(A)

{1, 2, 3, 4, 5}
{1, 2, 3, 4}

In [83]:
A

{1, 2, 3, 4, 5}

In [84]:
A.remove(5)
print(A)

{1, 2, 3, 4}

In [85]:
A.remove(5)
print(A)

KeyError: 5

In [86]:
A.discard(5)
print(A)

{1, 2, 3, 4}

### Сравнение множеств
Множества можно сравнить на:
* равенство (==)
* неравенство (!=)
* подмножество (<=, <)
* надмножество (>=, >)

In [87]:
A = {1,2,3,4}
B = {3,4,5,6,7}

In [88]:
A == B

False

In [89]:
A != B

True

In [90]:
A = {1,2,3}
B = {1,2,3,4,5,6,7}

A < B

True

### Итерирование по множеству с помощью цикла for

In [91]:
print(B)

{1, 2, 3, 4, 5, 6, 7}

In [92]:
for item in B:
    print(item)

1
2
3
4
5
6
7

### Неизменяемые множества

In [93]:
A = {1,2,3}
A_frozen = frozenset(A)
A_frozen

frozenset({1, 2, 3})

In [94]:
# бессмысленно
A = frozenset()
A

frozenset()

### Итерирование по множеству

In [96]:
print(A_frozen)

frozenset({1, 2, 3})

In [97]:
for item in A_frozen:
    print(item)

1
2
3

### Генератор множеств

In [98]:
lst = [2,5,7]
res = {item**2 for item in lst}
print(type(res))
print(res)

<class 'set'>
{25, 4, 49}

## Словари

In [99]:
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [100]:
mixed_dict = {
    1: "apple",
    "two": 2,
    3.5: [1, 2, 3],
    True: "Yes"
}

print(mixed_dict)

{1: 'Yes', 'two': 2, 3.5: [1, 2, 3]}

In [101]:
empty_dict = {}
empty_dict["key1"] = "value1"
empty_dict["key2"] = "value2"

print(empty_dict)

{'key1': 'value1', 'key2': 'value2'}

In [102]:
company = {
    "name": "Tech Corp",
    "employees": 1000,
    "departments": {
        "IT": 200,
        "HR": 50,
        "Sales": 300
    },
    "locations": ["New York", "London", "Tokyo"]
}

print(company)

{'name': 'Tech Corp', 'employees': 1000, 'departments': {'IT': 200, 'HR': 50, 'Sales': 300}, 'locations': ['New York', 'London', 'Tokyo']}

In [104]:
company["departments"]['IT']

200

In [105]:
car = dict(brand="Toyota", model="Corolla", year=2020)
print(car)

{'brand': 'Toyota', 'model': 'Corolla', 'year': 2020}

In [106]:
keys = ["name", "age", "city"]
values = ["Bob", 25, "Paris"]

person = dict(zip(keys, values))
print(person)

{'name': 'Bob', 'age': 25, 'city': 'Paris'}

### Методы items() keys() values()

In [107]:
person = {"name": "Alice", "age": 30, "city": "New York"}

print("Ключи:", person.keys())
print("Значения:", person.values())
print("Пары ключ-значение:", person.items())

Ключи: dict_keys(['name', 'age', 'city'])
Значения: dict_values(['Alice', 30, 'New York'])
Пары ключ-значение: dict_items([('name', 'Alice'), ('age', 30), ('city', 'New York')])

### Итерирование по словарю

In [108]:
for key in person.keys():
    print(key)

name
age
city

In [109]:
for value in person.values():
    print(value)

Alice
30
New York

In [110]:
for item in person:
    print(item)

name
age
city

In [112]:
for key, value in person.items():
    print(key,'---', value)

name --- Alice
age --- 30
city --- New York

### **kwargs

In [113]:
def greet(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [115]:
greet(name="Alice", age=30, city="New York", region = 'EUR')

name: Alice
age: 30
city: New York
region: EUR

In [116]:
def test(**kwargs):
    return kwargs

test(name="Alice", age=30, city="New York")

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [117]:
def summ(*lst): #summ(1,2,3,4,5)
    return sum(lst)



lst = [1,2,3,4,5]
print(summ(*lst))

15

In [119]:
def summ(**lst):
    s = 0
    for value in lst.values():
        s += value
    return s


# вариант 1
lst = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}
print(summ(**lst)) 

# вариант 2
print(summ(a=1, b=2, c = 3, d=4, e=5))

15
15

### Практика

Для заданного количества персон выведите данные о количестве ингредиентов по каждому блюду

person = 5

Салат:
картофель, 500гр.
морковь, 250гр.
огурцы, 250гр.
горошек, 150гр.
майонез, 350мл.
Пицца:
сыр, 250гр.
томаты, 250гр.
тесто, 500гр.
бекон, 150гр.
колбаса, 150гр.
грибы, 100гр.
Фруктовый десерт:
хурма, 300гр.
киви, 300гр.
творог, 300гр.
сахар, 50гр.
мед, 250мл.

In [120]:
cook_book = {
  'салат': [
     {'ingridient_name': 'сыр', 'quantity': 50, 'measure': 'гр'},
     {'ingridient_name': 'томаты', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'огурцы', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'маслины', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'оливковое масло', 'quantity': 20, 'measure': 'мл'},
     {'ingridient_name': 'салат', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'перец', 'quantity': 20, 'measure': 'гр'}
    ],
  'пицца': [
     {'ingridient_name': 'сыр', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'колбаса', 'quantity': 30, 'measure': 'гр'},
     {'ingridient_name': 'бекон', 'quantity': 30, 'measure': 'гр'},
     {'ingridient_name': 'оливки', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'томаты', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'тесто', 'quantity': 100, 'measure': 'гр'},
    ],
  'лимонад': [
     {'ingridient_name': 'лимон', 'quantity': 1, 'measure': 'шт'},
     {'ingridient_name': 'вода', 'quantity': 200, 'measure': 'мл'},
     {'ingridient_name': 'сахар', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'лайм', 'quantity': 20, 'measure': 'гр'},
    ]
}

In [134]:
person = 5
for name_delish, ingridients in cook_book.items():
    print(name_delish,':')
    for dct in ingridients:
        print(f'{dct['ingridient_name']:20} {dct['quantity']*person:7d} {dct['measure']}')
    print()

салат :
сыр                      250 гр
томаты                   100 гр
огурцы                   100 гр
маслины                   50 гр
оливковое масло          100 мл
салат                     50 гр
перец                    100 гр

пицца :
сыр                      100 гр
колбаса                  150 гр
бекон                    150 гр
оливки                    50 гр
томаты                   100 гр
тесто                    500 гр

лимонад :
лимон                      5 шт
вода                    1000 мл
сахар                     50 гр
лайм                     100 гр

## ДЗ 19

In [ ]:
Напишите программу, которая принимает список слов и возвращает список, содержащий только анаграммы. 
Анаграммы - это слова, составленные из одних и тех же букв, но в разном порядке. Создайте функцию anagrams, которая принимает список слов в качестве аргумента и возвращает список анаграмм. 
Используйте множества и сортировку букв в слове для проверки на анаграмму. Выведите результат на экран.

Пример переданного списка слов:

['cat', 'dog', 'tac', 'god', 'act']
Пример вывода:
Анаграммы: ['dog', 'god'], ['cat', 'tac', 'act']

In [ ]:
def anagrams(words):
    groups = []
    used_words = set()  # Для отслеживания уже обработанных слов
    
    for word in words:
        if ''.join(sorted(word)) not in used_words:
            # Создаем новую группу для текущего слова
            group = [w for w in words if ''.join(sorted(w)) == ''.join(sorted(word))]
            groups.append(group)
            used_words.add(''.join(sorted(word)))  # Добавляем отсортированное слово в множество обработанных
    
    return groups

# Пример использования
words = ['cat', 'dog', 'tac', 'god', 'act']
print(anagrams(words))

In [ ]:
''.join(sorted('олпати'))

In [ ]:
lst

In [ ]:
Напишите функцию is_subset, которая принимает два множества set1 и set2 и проверяет, является ли set1 подмножеством set2. 
Функция должна возвращать True, если все элементы из set1 содержатся в set2, и False в противном случае. 
Функция должна быть реализована без использования встроенных методов issubset или <=.

Пример множеств:
{1, 2, 3}
{1, 2, 3, 4, 5}

Пример вывода:
True

## ДЗ 20

Напишите функцию merge_dicts, которая принимает произвольное количество словарей в качестве аргументов и возвращает новый словарь, объединяющий все входные словари. Если ключи повторяются, значения должны быть объединены в список. 

Пример ввода:

{'a': 1, 'b': 2}
{'b': 3, 'c': 4}
{'c': 5, 'd': 6}

Пример вывода:
{'a': [1], 'b': [2, 3], 'c': [4, 5], 'd': [6]}

In [ ]:
def merge_dicts(lst_dict):
    result_dct = dict()
    for dct in lst_dict:
        for key, value in dct.items():
            if key not in result_dct:
                result_dct[key] = [value]
            else:
                result_dct[key] += [value]
    return result_dct

In [ ]:
lst_dict = [{'a': 1, 'b': 2},
            {'b': 3, 'c': 4},
            {'c': 5, 'd': 6}]
merge_dicts(lst_dict)

Напишите программу, которая принимает строку от пользователя и подсчитывает количество уникальных символов в этой строке. Создайте функцию count_unique_chars, которая принимает строку и возвращает количество уникальных символов. Выведите результат на экран.

Пример вывода:
Введите строку: hello
Количество уникальных символов: 4

Напишите программу, которая создает словарь, содержащий информацию о студентах и их оценках. Ключами словаря являются имена студентов, а значениями - списки оценок. Создайте функцию calculate_average_grade, которая принимает словарь с оценками студентов и вычисляет средний балл для каждого студента. Функция должна возвращать новый словарь, в котором ключами являются имена студентов, а значениями - их средний балл. Выведите результат на экран.

Пример словаря с оценками:

grades = {
    'Alice': [85, 90, 92],
    'Bob': [78, 80, 84],
    'Carol': [92, 88, 95]
}