# Summary 6: Форматирование, Цикл for, Работа с файлами

### format()

In [ ]:
'gflhkmfg {} {}'.format(name1, name2) #результат строка!

In [19]:
name = "John"
age = 30
text = "My name is {} and I'm {} years old".format(name, age)
print(text)

My name is John and I'm 30 years old

In [ ]:
name = "John"
age = 30
text = "My name is" + " " + name +" " + "and I'm" + " "+ str(age)+ " " + "years old"
print(text)

Можно также явно указывать индексы аргументов или использовать именованные подстановки для более гибкого форматирования:

In [20]:
text1 = "{0} {1} {0}".format("I", "like")  # Вставка аргументов по индексу
text2 = "{name} is {age} years old".format(name="John", age=30)  # Использование именованных подстановок
print(text1)
print(text2)

I like I
John is 30 years old

## Продвинутые возможности format()

In [21]:
# аргументы по умолчанию 
print("Hello {}, your balance is {}.".format("Adam", 230.2346)) 

# позиционные аргументы 
print("Hello {0}, your balance is {1}.".format("Adam", 230.2346)) 

# аргументы ключевые слова 
print("Hello {name}, your balance is {blc}.".format(name="Adam", blc=230.2346)) 

# смешанные аргументы 
print("Hello {0}, your balance is {blc}.".format("Adam", blc=230.2346))

Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.

In [22]:
# целочисленные аргументы 
print("The number is:{:d}".format(123))

# целые числа с минимальной шириной 
print("{:5d}".format(12)) 

# аргументы с плавающей точкой 
print("The float number is:{:f}".format(123.4567898)) 

# заполнение для чисел с плавающей точкой 
print("{:8.3f}".format(12.2346))

# восьмеричный, двоичный и шестнадцатеричный формат 
print("bin: {0:b}, oct: {0:o}, hex: {0:x}".format(12))

The number is:123
   12
The float number is:123.456790
  12.235
bin: 1100, oct: 14, hex: c

### Динамическое форматирование

In [23]:
# динамический шаблон формата строки 
string = "{:{fill}{align}{width}}" 

# передача кодов формата в качестве аргументов 
print(string.format('cat', fill='*', align='^', width=5)) 

# динамический шаблон формата float 
num = "{:{align}{width}.{precision}f}" 

# передача кодов формата в качестве аргументов 
print(num.format(123.236, align='<', width=8, precision=2))

*cat*
123.24

### C-style форматирование

In [24]:
name = "John"
age = 30
text = "My name is %s and I'm %s years old" % (name, age)
print(text)

My name is John and I'm 30 years old

### Использование f-строк

In [25]:
name = "John"
age = 30
text = f"My name is {name} and I'm {age} years old"
print(text)

My name is John and I'm 30 years old

F-строки поддерживают использование форматных спецификаторов для управления выводом значений. Например:

In [26]:
price = 9.99
quantity = 5
total = price * quantity
text = f"Total: ${total:.2f}"  # Указание точности числа до двух знаков после запятой
print(text)

Total: $49.95

F-строки позволяют использовать позиционные аргументы и = для управления выравниванием. Например:

In [29]:
name = "John"
age = 30
text = f"{name:+^10} is {age:!<10} years old"
print(text)

+++John+++ is 30!!!!!!!! years old

In [33]:
name = "Sam"
adjective = "amazing"
number = 200
disney_ride = "Space Mountain"
print("I went to {0} with {name}.\nIt was {adjective}.\nWe waited for {hours} hours to ride {ride}.".format("Disneyland", name = name, adjective=adjective, hours=number, ride=disney_ride))

I went to Disneyland with Sam.
It was amazing.
We waited for 200 hours to ride Space Mountain.

# Цикл for

In [34]:
text = 'code'
for symbol in text:
    print(symbol)

c
o
d
e

In [ ]:
Задача: выводить 5 раз строку '*****'

In [36]:
str = '*****'
i=0
while i<5:
    print(str)
    i+=1

*****
*****
*****
*****
*****

In [37]:
str = '*****'
for i in range(5):
    print(str)

*****
*****
*****
*****
*****

### range()

In [38]:
print(list(range(1,10,2)))

[1, 3, 5, 7, 9]

In [39]:
print(list(range(1,10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
print(list(range(10,1,-1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

### enumerate()

In [41]:
fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):
    print(index+1, fruit)

1 apple
2 banana
3 cherry

### zip()

In [54]:
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]
salaries = [2500, 3000, 3500]
for name, age, salary in zip(names, ages, salaries):
    print(f'Имя сотрудника: {name}, чей возраст {age} лет, с з/п: {salary}$')

Имя сотрудника: Alice, чей возраст 25 лет, с з/п: 2500$
Имя сотрудника: Bob, чей возраст 30 лет, с з/п: 3000$
Имя сотрудника: Charlie, чей возраст 35 лет, с з/п: 3500$

In [ ]:
# Бубет позже )))

In [58]:
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]
salaries = [2500, 3000, 3500]
for num, tup in enumerate(zip(names, ages, salaries)):
        print(f'{num}. Имя сотрудника: {tup[0]}, чей возраст {tup[1]} лет, с з/п: {tup[2]}$')

0. Имя сотрудника: Alice, чей возраст 25 лет, с з/п: 2500$
1. Имя сотрудника: Bob, чей возраст 30 лет, с з/п: 3000$
2. Имя сотрудника: Charlie, чей возраст 35 лет, с з/п: 3500$

In [53]:
list(enumerate(zip(names, ages, salaries)))

[(0, ('Alice', 25, 2500)), (1, ('Bob', 30, 3000)), (2, ('Charlie', 35, 3500))]

# Работа с файлами

In [59]:
file = open("example.txt", "r", encoding='utf-8')  # Открытие файла для чтения
content = file.read()  # Чтение содержимого файла
file.close()  # Закрытие файла
print(content)

hello
привет
aloha

In [60]:
file = open("example.txt", "r", encoding='utf-8')  # Открытие файла для чтения
content = file.readlines()  # Чтение содержимого файла в виде коллекции (списка)
file.close()  # Закрытие файла
print(content)

['hello\n', 'привет\n', 'aloha']

In [62]:
content[2]

'aloha'

In [63]:
file = open("example.txt", "r", encoding='utf-8') 
content = file.readline()
print(content)

hello

In [64]:
content = file.readline()
print(content)

привет

In [65]:
content = file.readline()
print(content)

aloha

In [66]:
with open('example.txt', 'r', encoding='utf-8') as file:
    for line in file:
        print(line)

hello

привет

aloha

In [69]:
file = open("output.txt", "w")  # Открытие файла для чтения
text = input()
content = file.write(text)  # Чтение содержимого файла
file.close()  # Закрытие файла

 test

In [70]:
file = open("output.txt", "w")  # Открытие файла для чтения
for i in range(3):
    text = input()+'\n'
    content = file.write(text)  # Чтение содержимого файла
file.close()  # Закрытие файла

 1
 2
 3

In [72]:
file = open("output.txt", "a")  # Открытие файла для чтения
for i in range(3):
    text = input()+'\n'
    content = file.write(text)  # Чтение содержимого файла
file.close()  # Закрытие файла

 10
 20
 30

In [71]:
with open("output.txt", "w") as file:  # Открытие файла для чтения
    for i in range(3):
        text = input()+'\n'
        content = file.write(text)  # Чтение содержимого файла

 5
 6
 7

### Разбор практических задач

1. Во входном файле задается число. Необходимо в выходной файл вывести треугольник из цифр, который будет занимать верхний левый угол.

1

12

123

1234

12345

In [1]:
input_file = 'input.txt'
output_file = 'output.txt'

with open(input_file, 'r') as f:
    n = int(f.readline().strip())
    
string =''
for row in range(1,n+1): # цикл нужен, чтобы создавать n-ое количество строк
    for number in range(1,row+1): # цикл нужен, чтобы в строке формировть последовательность чисел
        string += str(number)
    string += '\n'

with open(output_file, 'w') as f:
    f.write(string)

2. Напишите программу, которая открывает текстовый файл с именем input.txt, считывает его содержимое и записывает в файл с именем output.txt, меняя порядок слов на обратный. Каждое слово должно быть записано на отдельной строке. Используйте цикл for и методы readlines(), split() и reverse() для решения задачи.

Пример содержимого файла input.txt:

Hello, World! How are you?


Пример содержимого файла output.txt:

you?
are
How
World!
Hello,

In [2]:
input_file = 'input.txt'
output_file = 'output.txt'

with open(input_file, 'r') as f:
    string = f.readline().strip() # здесь считываем строку из файла
    
#string.split()[::-1] так мы строку переворачиваем, предворительно разделив ее по предложениям
string = ' '.join(string.split()[::-1]) #здесь пересохраняем строку склеивая ее через пробел

with open(output_file, 'w') as f:
    f.write(string)

### Разбор ДЗ

Напишите программу, которая запрашивает у пользователя число N и выводит на экран таблицу умножения от 1 до N. Используйте вложенный цикл for для создания таблицы умножения. Выведите результат на экран с помощью команды print и f-строк или метода format().

In [3]:
# Идея: res = row*col (row = range(1,6) col = range(1,6))

n = int(input())
rows = range(1,n+1) # создаю последовательность чисел от 1 до n для строк
cols = range(1,n+1) # создаю последовательность чисел от 1 до n для столбцов

for row in rows:
    for col in cols:
        print(f'{row*col:10d}',end = '')

    print()

 10

         1         2         3         4         5         6         7         8         9        10
         2         4         6         8        10        12        14        16        18        20
         3         6         9        12        15        18        21        24        27        30
         4         8        12        16        20        24        28        32        36        40
         5        10        15        20        25        30        35        40        45        50
         6        12        18        24        30        36        42        48        54        60
         7        14        21        28        35        42        49        56        63        70
         8        16        24        32        40        48        56        64        72        80
         9        18        27        36        45        54        63        72        81        90
        10        20        30        40        50        60        70        80        90       100

обратите внимание, здесь работает ширина (окно) о котором я так долго говорил

Напишите программу, которая принимает два списка одинаковой длины и создает новый список, содержащий пары элементов из исходных списков. Используйте функцию zip() для создания пар элементов. Выведите результат на экран с помощью команды print.

In [4]:
names = ['Дима', 'Павел', 'Ирина']
balls = ['2','5','5']
print(list(zip(names,balls)))

[('Дима', '2'), ('Павел', '5'), ('Ирина', '5')]