# Summary 14

1. Сумма квадратов четных чисел

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Ожидаемый результат: 220 (2² + 4² + 6² + 8² + 10² = 4 + 16 + 36 + 64 + 100)

In [ ]:
from functools import reduce
res = reduce(lambda x, y: x + y, (map(lambda x: x**2, filter(lambda x: x%2 == 0, numbers))))
res

2. Сортировка строк по количеству гласных

   Используя sorted, map и lambda, отсортируйте список строк по количеству согласных букв в каждой строке.

In [19]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
# Ожидаемый результат: ['date', 'apple', 'banana', 'cherry', 'elderberry']

In [20]:
vowels = "AEIOUYaeiouy"

sorted(words, key = lambda s: sum(1 for ch in s if ch not in vowels))

['date', 'apple', 'banana', 'cherry', 'elderberry']

3. Произведение минимального и максимального элемента

   Используя min, max и reduce, найдите произведение минимального и максимального элемента в списке.

In [21]:
numbers = [10, 20, 5, 30, 15]
# Ожидаемый результат: 150 (5 * 30)

In [ ]:
from functools import reduce

result = reduce(lambda x,y: x*y,[min(numbers),max(numbers)])
result

4. Фильтрация и преобразование строк
   
Используя filter и map, отфильтруйте строки, длина которых больше 5 символов, и преобразуйте их в верхний регистр.

In [ ]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
# Ожидаемый результат: ['BANANA', 'CHERRY', 'ELDERBERRY']

In [ ]:
new_words = map( lambda x: x.upper(), filter(lambda x: len(x)>5, words ))
list(new_words)

5. Среднее значение квадратов нечетных чисел

   Используя filter, map и reduce, найдите среднее значение квадратов всех нечетных чисел в списке.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Ожидаемый результат: 33 (1² + 3² + 5² + 7² + 9² = 1 + 9 + 25 + 49 + 81 = 165; 165 / 5 = 33)

In [ ]:
from functools import reduce
res = list(map(lambda num: num**2 , filter(lambda num: num%2 != 0, numbers)))
print(sum(res)/len(res))

6. Сортировка чисел по сумме цифр

   Используя sorted и map, отсортируйте список чисел по сумме их цифр.

In [5]:
numbers = [123, 45, 678, 9, 101]
# Ожидаемый результат: [101, 123, 45, 678, 9] (суммы цифр: 2, 6, 9, 21, 9)

In [6]:
sorted(numbers, key=lambda n: sum(int(d) for d in str(n)))

[101, 123, 45, 9, 678]

7. Нахождение строки с максимальным количеством согласных

Используя max, filter и lambda, найдите строку с максимальным количеством согласных букв.

In [8]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
# Ожидаемый результат: 'elderberry'

In [10]:
max(words, key = lambda s: sum(1 for char in s if char not in "AEIOUYaeiouy"))

'elderberry'

8. Сумма длин строк, содержащих букву 'a'

   Используя filter, map и reduce, найдите сумму длин всех строк, которые содержат букву 'a'.

In [11]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
# Ожидаемый результат: 21 (5 + 6 + 4 + 6)

In [13]:
sum(map(lambda x: len(x) ,filter(lambda s: 'a' in s ,words)))

15

9. Сортировка чисел по количеству делителей

In [14]:
numbers = [12, 7, 15, 9, 20]
# Ожидаемый результат: [7, 9, 15, 20, 12] (делители: 2, 3, 4, 6, 6)

In [17]:
x = 7
[1 for i in range(1, x+1) if x % i == 0]

[1, 1]

In [19]:
sorted(numbers, key = lambda x: sum(1 for i in range(1, x+1) if x % i == 0))

[7, 9, 15, 12, 20]

10. Нахождение строки с минимальной разницей между количеством гласных и согласных

    Используя min, map и lambda, найдите строку, в которой разница между количеством гласных и согласных букв минимальна.

In [20]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
# Ожидаемый результат: 'date'

In [21]:
min(words, key = lambda s: abs(sum(1 for char in s if char in "AEIOUYaeiouy") -  sum(1 for char in s if char not in "AEIOUYaeiouy") ))

'banana'

Функция accumulate из модуля itertools может быть использована для решения разнообразных задач, связанных с накоплением значений.

In [ ]:
from itertools import  accumulate

Анализ финансовых данных:

Задача: Вычислить накопленную доходность инвестиций на основе ежемесячных данных о доходах.

Пример: Имея список ежемесячных доходов, вычислить накопленную сумму доходов на каждом этапе.

Анализ спортивной статистики:

Задача: Вычислить накопленное количество очков, забитых командой в течение сезона.

Пример: Имея данные о количестве очков, набранных в каждом матче, вычислить накопленное количество очков на каждом этапе сезона.

Задача:
Имеется список ежемесячных доходов от инвестиций. Необходимо вычислить накопленную сумму доходов на каждом этапе.

Пример:
Допустим, у нас есть следующие ежемесячные доходы: [1000, 1500, 500, 2000, 750]. Мы хотим получить накопленную сумму доходов на каждом этапе: [1000, 2500, 3000, 5000, 5750].

In [ ]:
from itertools import accumulate

# Ежемесячные доходы
monthly_incomes = [1000, 1500, 500, 2000, 750]

# Вычисление накопленной суммы доходов
accumulated_incomes = list(accumulate(monthly_incomes))

print(accumulated_incomes)  # Вывод: [1000, 2500, 3000, 5000, 5750]

In [ ]:
import random


seq = [random.randint(1,100) for i in range(10)]

In [ ]:
all(i%2==0 for i in seq)

### Разбор ДЗ 27

Напишите функцию, которая принимает на вход список чисел и возвращает сумму квадратов только четных чисел из списка, используя функциональные подходы (например, map, filter и reduce).

Пример вывода:
Введите числа: 4, 6, 3, 4, 2, 3, 9, 0, 7
Результат: 72

In [ ]:
from functools import reduce

def sq_sum(s):
    filt=filter(lambda x: x%2==0, s)
    sqmap=map(lambda x: x*x, filt)
    sumsq=reduce(lambda x,y: x+y, sqmap)
    return sumsq

i=map(int,input("Введите список чисел: ").split(", "))
print(sq_sum(i))

In [ ]:
Напишите функцию, которая принимает на вход список функций и значение, а затем применяет композицию этих функций к значению, возвращая конечный результат.

Пример использования:

add_one = lambda x: x + 1
double = lambda x: x * 2
subtract_three = lambda x: x - 3
functions = [add_one, double, subtract_three]
compose_functions(functions, 5) должно вывести 9

In [ ]:
def compose_functions(s,k):
    result=k
    for i in s:
        result=i(result)
    return result

add_one = lambda x: x + 1
double = lambda x: x * 2
subtract_three = lambda x: x - 3
functions = [add_one, double, subtract_three]
print(compose_functions(functions, 5))

### Разбор ДЗ 28

Напишите программу, которая принимает список слов от пользователя и использует генераторное выражение (comprehension) для создания нового списка, содержащего только те слова, которые начинаются с гласной буквы. Затем программа должна использовать функцию map, чтобы преобразовать каждое слово в верхний регистр. В результате программа должна вывести новый список, содержащий только слова, начинающиеся с гласной буквы и записанные в верхнем регистре.

In [ ]:
words=input("Введите список слов: ").split()
vowels="euioaуеыаоэяию"
vowels=vowels+vowels.upper()
v_words=[x for x in words if x[0] in vowels]
v_words_upper=map(lambda x: x.upper(),v_words)
print(list(v_words_upper))

Напишите программу, которая принимает список чисел от пользователя и использует функцию reduce из модуля functools, чтобы найти произведение всех чисел в списке. Затем программа должна использовать функцию itertools.accumulate для накопления произведений чисел в новом списке. В результате программа должна вывести список, содержащий накопленные произведения.

In [ ]:
from functools import reduce
from itertools import  accumulate
from operator import mul

numbers = [int(x) for x in input("Введите список чисел: ").split()]
product_red = reduce(lambda x,y: x*y, numbers)
print(product_red)
product_acc = accumulate(numbers, mul)
print(list(product_acc))